.cv-title h1 {
  font-size: 5rem !important;
  font-family: "Poppins", sans-serif;
}

.card-service {
  padding: 2rem;
  background-color: #171717;
  color: white;
  border-radius: 7px;
  cursor: pointer;
}

.card-service:hover {
  background-color: #060606;
}
.card-service p {
  color: gray;
}

.title-cv {
  font-family: "Poppins", sans-serif;
}

.dark-back {
  background-color: #171717;
}

.light-back {
  background-color: rgb(251 251 251);
}

.cv-description {
  color: #929292;
  font-size: 1.25rem;
}

.footer-text {
  color: #929292;
}

.btn-cv {
  color: #fff;
  border-color: #dc3545;
  width: 9rem !important;
  background-color: transparent;
}
