.cv-title h1 {
  font-size: 5rem;
  font-family: "Poppins", sans-serif;
}

.card-service {
  padding: 2rem;
  background-color: #171717;
  color: white;
  border-radius: 7px;
  cursor: pointer;
}

.card-service:hover {
  background-color: #060606;
}
.card-service p {
  color: gray;
}

.title-cv {
  font-family: "Poppins", sans-serif;
}

.dark-back {
  background-color: #171717;
}

.light-back {
  background-color: rgb(251 251 251);
}

.cv-description {
  color: #929292;
  font-size: 1.25rem;
}

.footer-text {
  color: #929292;
}

.btn-cv {
  color: #fff;
  border-color: #dc3545;
  width: 9rem !important;
  background-color: transparent;
}

a {
  color: white;
}
a:active {
  color: white;
}

a:hover {
  color: #929292;
}

.main-social a {
  color: black;
}

.main-social a:hover {
  color: #929292;
}

.main-social a:active {
  color: black;
}

@media only screen and (max-width: 900px) {
  .cv-title h1 {
    padding-top: 5rem;
  }

  .main-photo {
    width: 100%;
    max-height: 30rem;
    object-fit: cover;
  }

  .back-titles {
    display: none;
  }

  .main-section {
    padding: 2rem;
  }

  .contact-section {
    padding: 5px !important;
    margin: 0px !important;
  }
}
