.cv-title h1 {
  font-size: 5rem;
  font-family: "Poppins", sans-serif;
}

.card-service {
  padding: 2.5rem;
  background-color: #171717;
  /* background-color: white; */
  color: white;
  border-radius: 7px;
  /* box-shadow: 2px 2px 2px #e7e7e7; */
  box-shadow: 0.125rem 0.125rem 1rem rgb(0 0 0 / 20%);
  transition: all 0.3s ease-out;
}

.card-service:hover {
  background-color: #0c0c0c;
  /* background-color: #0045ab; */
  color: white;
  transform: translate(0px, -10px) scale(1.03);
}

.title-cv {
  font-family: "Poppins", sans-serif;
}

.dark-back {
  background-color: #171717;
}

.light-back {
  background-color: rgb(251 251 251);
}

.footer-text {
  color: #929292;
}

.btn-cv {
  color: #fff;
  border-color: #0a58ca;
  background-color: #0a58ca;
  width: 9rem !important;
}
.btn-cv-secondary {
  color: #fff;
  border-color: #0a58ca;
  background-color: transparent !important;
  width: 9rem !important;
  margin-left: 10px;
}

a {
  color: white;
}
a:active {
  color: white;
}

a:hover {
  color: #929292;
}

.main-social a {
  color: black;
}

.main-social a:hover {
  color: #929292;
}

.main-social a:active {
  color: black;
}

.contact-ref {
  color: white;
  text-decoration: none;
}

.contact-ref:hover {
  color: rgb(219, 215, 215);
  text-decoration: none;
}

.normal-text {
  color: #727272 !important;
}

.hide {
  display: none;
}

.containerCard:hover + .hide {
  display: block;
}

/* .bg-dark {
  background-color: transparent !important;
} */

@media only screen and (max-width: 900px) {
  .normal-text {
    margin-top: 2rem;
  }
  .skill-bars {
    margin: 0 auto !important;
    max-width: 20rem !important;
  }

  .download-cv {
    padding-left: 2rem !important;
  }

  .cv-title h1 {
    padding-top: 5rem;
  }

  .main-photo {
    width: 100%;
    max-height: 30rem;
    object-fit: cover;
  }

  .back-titles {
    display: none;
  }

  .main-section {
    padding: 1rem;
  }

  .mail {
    font-size: 20px;
  }
  .contact-section {
    padding: 5px !important;
    margin: 0px !important;
  }

  .main-social a {
    color: gray;
  }

  .btn-cv,
  .btn-cv-secondary {
    margin-bottom: 3rem;
  }

  .main-photo-section {
    display: none !important;
  }
  .aboutme-container {
    margin-top: 0rem !important;
  }
  .aboutme-title {
    margin-bottom: 1rem !important;
  }
}

/* skill bars */

::selection {
  color: #fff;
  background: black;
}
.skill-bars {
  padding: 25px 30px;
  width: 50rem;
  background: #fff;
  border-radius: 10px;
}
.skill-bars .bar {
  margin: 20px 0;
}
.skill-bars .bar:first-child {
  margin-top: 0px;
}
.skill-bars .bar .info {
  margin-bottom: 5px;
}
.skill-bars .bar .info span {
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100% {
    opacity: 1;
  }
}
.skill-bars .bar .progress-line {
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05),
    0 1px rgba(255, 255, 255, 0.8);
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
.bar .progress-line span {
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: #0a58ca;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
.bar .progress-line.unity span {
  width: 60%;
}
.bar .progress-line.linux span {
  width: 60%;
}
.bar .progress-line.react span {
  width: 85%;
}
.bar .progress-line.python span {
  width: 50%;
}
.bar .progress-line.mysql span {
  width: 75%;
}
.progress-line span::before {
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after {
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100% {
    opacity: 1;
  }
}
.progress-line.unity span::after {
  content: "60%";
}
.progress-line.linux span::after {
  content: "60%";
}
.progress-line.react span::after {
  content: "85%";
}
.progress-line.python span::after {
  content: "50%";
}
.progress-line.mysql span::after {
  content: "75%";
}
